.bodyBackground {

  font-family: "Agency FB";
  font-size: 100%;
  font-weight: bold;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}


tr:hover {background-color: darkgray;}

table {

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}



