<ul>
  <li><a class="active"><img src="assets/images/logo.png" (click)="openHome()" alt="Logo" height="60" width="80"></a></li>
  <li><a (click)="openRanking()">Ranking</a></li>
  <li><a (click)="openArchive()">Archive</a></li>
  <li id="sign"><a (click)="openLogInForm()" style="float:right">Sign in</a></li>
</ul>

<div class="bodyBackground">

  <h1>Match name</h1>
  <h2>Date, Time, Venue</h2>

  <ul class="information">

    <li class="matchRow">1:33 - GOAL:C.Ronaldo</li>
    <li class="matchRow">18:16 Real Madrid na final!</li>
    <li class="matchRow">69:69 Mitko gey ale aleeee</li>

  </ul>
</div>
