  <script src="home.component.ts"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <ul>
    <li><a class="active"><img src="assets/images/logo.png" (click)="openHome()" alt="Logo" height="60" width="80"></a></li>
    <li *ngIf="checkToken()"><a (click)="openRanking()" style="float:left">Ranking</a></li>
    <li *ngIf="checkToken()"><a (click)="openArchive()"  style="float:left">Archive</a></li>
    <li id="sign" *ngIf="!checkToken()"><a (click)="openLogin()" style="float:right">Sign in</a></li>
    <li *ngIf="checkToken()"><a (click)="logout()" style="float:right">Log out</a></li>
  </ul>


<main>

  <div *ngIf="!isOpen()">

    <img src="assets/images/logo.png" (click)="openHome()" alt="Logo" id="homeLogo">
    <h1>RefPRO WEB</h1>
    <h2>Find the information you need for all referees and matches</h2>
  </div>

  <app-login *ngIf="isOpen()"></app-login>

</main>
